addict==2.4.0
imgaug==0.4.0
numpy==1.25.2
opencv_contrib_python==4.8.0.76
opencv_python==4.8.0.76
opencv_python_headless==4.8.0.76
p_tqdm==1.4.0
Pillow==10.0.0
pytorch_lightning==2.0.7
PyYAML==6.0
scipy==1.11.1
Shapely==2.0.1
six==1.16.0
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tqdm==4.66.1
yapf==0.40.1
